name: Auto Generate M3U from JSON

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r yeni/requirements.txt

    - name: Extract m3u8 links from web
      run: python extract_m3u8.py
      working-directory: yeni

    - name: Generate playlist.m3u
      run: python fetch_m3u8.py
      working-directory: yeni

    - name: Configure Git
      run: |
        git config --global user.name 'GitHub Actions'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'

    - name: Commit & Push
      run: |
        git add .
        git commit -m "Auto updated playlist.m3u from web" || echo "No changes"
        git push https://${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} HEAD:${{ github.ref }}
